body {
    font-family: verdana;
  }

  a:link {
    color: #000000;
    text-decoration: none;
  }

  .tag {
    display: inline-block;
    border-radius: 4px;
  }

  .center {
    margin: auto;
    width: 40%;

    padding: 10px;
  }

  header {
    margin-left: auto;
    margin-right: auto;
    background-color: lightseagreen;
    border-radius: 5px;
    border: #000000 1px solid;
    padding: 10px;
  }

  main {
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin-left: auto;
    margin-right: auto;
  }

  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}