{% load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
<!--        <img src="logo_uniwersytetu.png" alt="Logo Uniwersytetu" id="uni-logo">-->
        <h1>Nazwa Uniwersytetu</h1>
        <div id="login-bar">
            <a href="#">Zaloguj się</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="#">AKTUALNOŚCI</a></li>
            <li><a href="#">MÓJ PROFIL</a></li>
            <li><a href="#">DLA STUDENTA</a></li>
            <li><a href="#">DLA PRACOWNIKA</a></li>
            <li><a href="#">DLA WSZYSTKICH</a></li>
        </ul>
    </nav>
    <main>


            <aside>
                <ul>
                    <li><a href="#">KONTAKT Z DZIEKANATEM</a></li>
                    <li><a href="#">KONTAKT Z ADMINISTRATOREM</a></li>
                </ul>
            </aside>
            <div class="content">
                <h2>Strona głowna</h2>
                <h2>Ilosc uzytwkoników w BD: {{pierwsza | length}}</h2>

    {% for aktualnosci in pierwsza %}
        <p>{{ aktualnosci }}</p>
    {% endfor %}
            </div>
        </main>
    <footer>
        NAZWA
    </footer>
</body>
</html>


